@model Customer

@{
	ViewData["Title"] = "Delete Customer";
}

<h2>Delete Customer</h2>

@using (Html.BeginForm("Delete", "Customer"))
{
	<p>Are you sure you want to delete @Model.Username ?</p>
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Name)
	@Html.HiddenFor(m => m.Username)
	@Html.HiddenFor(m => m.Role)
	@Html.HiddenFor(m => m.Address)
	@Html.HiddenFor(m => m.Email)

	<button type="submit" class="btn btn-danger">Yes</button>
}

<a href=@Url.Action("Index") class="btn btn-secondary">Back to list</a>
