@model List<Category>

@{
	ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<a href=@Url.Action("Create") class="btn btn-primary">Add new</a>

@if (Model.Count > 0)
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Category</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in Model)
			{
				<tr>
					<td>
						@category.Name
					</td>
					<td>
						<a href=@Url.Action("Edit", new {id = category.CategoryId}) class="btn btn-sm btn-secondary">Edit</a>
						@if (category.IsActive)
						{
							<a href=@Url.Action("Disable", new {id = category.CategoryId}) class="btn btn-sm btn-danger">Disable</a>
						}
						else
						{
							<a href=@Url.Action("Disable", new {id = category.CategoryId}) class="btn btn-sm btn-success">Enable</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No Categories</p>
}

<div>
	@if (ViewBag.CurrentPage > 1)
	{
		<a href="@Url.Action("Index", new {page = ViewBag.CurrentPage - 1})" class="btn btn-primary">Previous</a>
	}

	<span>@ViewBag.CurrentPage of @ViewBag.TotalPages</span>

	@if (ViewBag.CurrentPage < ViewBag.TotalPages)
	{
		<a href="@Url.Action("Index", new {page = ViewBag.CurrentPage + 1})" class="btn btn-primary">Next</a>
	}
</div>