@model CreateProductDto

@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

@using (Html.BeginForm("Create", "Product"))
{
    <div class="form-control">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

        <button type="submit" class="btn btn-primary">Save Product</button>
    </div>
}

<a href=@Url.Action("Index") class="btn btn-secondary">Back to list</a>