@model Product

@{
	ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

@using (Html.BeginForm("Delete", "Product"))
{
	<p>Are you sure you want to delete @Model.Name ?</p>
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Name)
	@Html.HiddenFor(m => m.Price)
	@Html.HiddenFor(m => m.Description)
	@Html.HiddenFor(m => m.Quantity)

	<button type="submit" class="btn btn-danger">Yes</button>
}

<a href=@Url.Action("Index") class="btn btn-secondary">Back to list</a>
