@model Movie

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<p>Genre: @Model.Genre.Name</p>
<p>Release Date: @Model.ReleaseDate.ToString("dddd, MM/dd/yyyy")</p>
<p>Date Added: @Model.DateAdded</p>
<p>Stock: @Model.Stock</p>
